<!-- Custom design and illustrations by Simplicity.lt  All rights are reserved by Gintautas Bakunas, 2016. -->
.nav-wrapper
  nav.navbar.navbar-default.mainmenu data-spy="affix" data-offset-top="1"
    .container
      .navbar-header
        button.navbar-toggle type="button" data-toggle="collapse" data-target="#myNavbar"
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="#"
          span LOGO HERE
      .collapse.navbar-collapse#myNavbar
        ul.nav.navbar-nav
          li.active 
            a href="#" Home
          li 
            a href="#" News
          li 
            a href="#" Blog
          li 
            a href="#" Contacts
        ul.nav.navbar-nav.navbar-right
          li 
            button type="button" class="login-btn" data-toggle="modal" data-target="#login-box" <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
#login-box.modal.fade role="dialog"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal"
        h4.modal-title Modal Header
      .modal-body
        p Some text in the modal.
      .modal-footer
        button.btn.btn-default type="button" data-dismiss="modal" Close
header
  .carousel#main-slider
      ol.carousel-indicators
        li.active data-target="#main-slider" data-slide-to="0"
        li data-target="#main-slider" data-slide-to="1"
        li data-target="#main-slider" data-slide-to="2"
      .carousel-inner role="listbox"
        .item.active style="background-image: url(http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/slide1.jpg)"
          .container
            .row
              .col-xs-12.col-sm-6
                .slide-content
                  h1 This is a Slide 1
                  p Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  a.btn.btn-primary#about ABOUT US
                  a.btn.btn-primary#register REGISTRATION
              .col-xs-12.col-sm-6
                .slide-img
                  .banner
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/banner1.png"
                  .house
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/house1.png"
                  .pattern
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/pattern1.png"
        .item style="background-image: url(http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/slide2.jpg)"
          .container
            .row
              .col-xs-12.col-sm-6
                .slide-content
                  h1 This is a Slide 2
                  p Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  a.btn.btn-primary#about ABOUT US
                  a.btn.btn-primary#register REGISTRATION
              .col-xs-12.col-sm-6
                .slide-img
                  .banner
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/banner2.png"
                  .house
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/house2.png"
                  .pattern
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/pattern2.png"
        .item style="background-image: url(http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/slide3.jpg)"
          .container
             .row
              .col-xs-12.col-sm-6
                .slide-content
                  h1 This is a Slide 3
                  p Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  a.btn.btn-primary#about ABOUT US
                  a.btn.btn-primary#register REGISTRATION
              .col-xs-12.col-sm-6
                .slide-img
                  .banner
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/banner3.png"
                  .house
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/house3.png"
                  .pattern
                    img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/pattern3.png"
      .slide-control
        a.left.carousel-control href="#main-slider" role="button" data-slide="prev"
          span
          span
        a.right.carousel-control href="#main-slider" role="button" data-slide="next"
          span
          span
.spotlight
  .container
    .row
      .col-xs-12.col-sm-4
        .spot
          .spot-icon.wow.zoomIn data-wow-delay="0.1s"
            img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/owls/owl-pattern1.png"
            img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/owls/owl1.png"
          h2 Spotlight title
          p Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat
          a.btn.btn-primary FIND MORE
      .col-xs-12.col-sm-4
        .spot
          .spot-icon.wow.zoomIn data-wow-delay="0.2s"
            img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/owls/owl-pattern2.png"
            img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/owls/owl2.png"
          h2 Spotlight title
          p Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat
          a.btn.btn-primary FIND MORE
      .col-xs-12.col-sm-4
        .spot
          .spot-icon.wow.zoomIn data-wow-delay="0.3s"
            img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/owls/owl-pattern3.png"
            img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/owls/owl3.png"
          h2 Spotlight title
          p Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat
          a.btn.btn-primary FIND MORE
.head-ribbon
  .container
    .row
      .col-xs-12.col-sm-4
        .facebook-illustration
          .fb-back.wow.fadeIn
            img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/fb/fb-back.png"
          .fb-like.wow.fadeInDown data-wow-delay="0.5s"
            img.wow.swing-left data-wow-iteration="infinite" src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/fb/fb-like.png"
          .fb-icon.wow.fadeInDown data-wow-delay="0.5s"
            img.wow.swing-right data-wow-iteration="infinite" src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/fb/fb-icon.png"
          .fb-owls.wow.slideInDown
            img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/fb/fb-owls.png"
      .col-xs-12.col-sm-8
        h3 Let's became friends. Follow our activities in Facebook.
        .follow
          a.btn.btn-primary#more Open Facebook group page
.footer
  .container
    .row
      .col-xs-12.col-sm-4
        h3 Information
        ul.nav.footer-menu
          li
            a About Us
          li
            a Registration Details
          li
            a Latest News
      .col-xs-12.col-sm-4
        h3 Have questions? Contact us
        .quick-contact
          p.mail By E-mail: info@emailadress.com
          p.phone By Phone: 037011156665
      .col-xs-12.col-sm-4
        h3 Find Us
        p Lazdynuose: Street g. 12, Vilnius Lt-11111
        p Valakampiuose: Street g. 1, Vilnius Lt-22222
        p Lazdynėliuose: Street g. 52, Vilnius Lt-33333
img src="http://demo.themeum.com/html/triangle/1.1/images/home/under.png"
.container
  .color-pallete
    ul
      li#ocean-dark
      li#ocean-blue
      li#ocean-green
      li#ocean-greenish
      li#ocean-coast
  .copyright
    p 
      span Designed by  
      a href="http://simplicity.lt" target="_blank" Simplicity.lt
      span  2016. All rights reserved.