<div class="nav-wrapper">
    <nav class="navbar navbar-default mainmenu" data-offset-top="1" data-spy="affix">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href=""><span><img src="media/samson.png" style="height: 50px;width: 50px"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav" style="font-size: 20px;padding-top:15px;">
            
            <li class="active">
              <a href="#/">Home</a>
            </li>
            <li>
              <a href="#/about">About</a>
            </li>
            <li>
                <a href="#/gallery">Gallery</a>
              </li>
              
          </ul>
          <ul class="nav navbar-nav navbar-right" style="font-size: 20px;">
            <li ng-if="info.status">
         <a href="teacher/page/index.html" ng-if="info.name == 'Eugene Abayon'"><button class="login-btn"  type="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{info.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My dashboard</button></a>
         <a href="student/page/index.html" ng-if="info.name != 'Eugene Abayon'"><button class="login-btn"  type="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{info.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My dashboard</button></a>

            </li>
            <li ng-if="!info.status">
              <a href="HTML/loader.html"><button class="login-btn"  type="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</button></a>
                 </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br>
  <div class="modal fade" id="login-box" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button"></button>
          <h4 class="modal-title">
            Modal Header
          </h4>
        </div>
        <div class="modal-body">
          <p>
            Some text in the modal.
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
  <header>
    <div class="carousel" id="main-slider">
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target=""></li>
        <li data-slide-to="1" data-target=""></li>
        <li data-slide-to="2" data-target=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s" style="background-image: url(media/main.png)">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="slide-content">
                  <h1 style="color:rgb(8, 8, 8)">
                  </h1>
                  <p style="font-size: 20px;color:rgba(8, 8, 8, 0)">
                      At Samson College of Science and Technology we believe that each student should be given the opportunity to receive a high quality education for the career best suited to his or her aptitude, interest, ambition and ability. To this goal the administration and faculty have dedicated themselves.
  
                      Among the objectives of Samson College of Science and Technology are the following:
                      
                      To prepare the student to meet the diverse requirement that the career of his/her choice demands.
                      To improve the delivery system so as to meet in the most economical, efficient manner the needs of students and the economy.
                      To help the student develop the proper work habits, desirable attitudes and increase confidence.
                      To help uplift the quality of life through scholarship grants under the Doña Angeles Topacio Samson Scholarship Program.                </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <!-- <div class="slide-img">
                  <div class="banner">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/banner1.png" />
                  </div>
                  <div class="house">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/house1.png" />
                  </div>
                  <div class="pattern">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/pattern1.png" />
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(media/17629794_1416432231710245_7069626954791545231_n.jpg)">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="slide-content">
                      <h1 style="color:rgb(8, 8, 8)">
                              Vission
                            </h1>
                            <p style="font-size: 20px;color:rgb(8, 8, 8)">
                      Samson College of Science and Technology commits itself in providing relevant, high standard quality technical-vocational education to produce an ideal pool of human resources of skillful, competent, reliable manpower; able to adapt to technological advancement and industrial needs.                </p>
                  <!-- <a class="btn btn-primary" id="about">ABOUT US</a><a class="btn btn-primary" id="register">REGISTRATION</a> -->
                </div>
              </div>
              <!-- <div class="col-xs-12 col-sm-6">
                <div class="slide-img">
                  <div class="banner">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/banner2.png" />
                  </div>
                  <div class="house">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/house2.png" />
                  </div>
                  <div class="pattern">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/pattern2.png" />
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/slide3.jpg)">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="slide-content">
                  <h1>
                    This is a Slide 3
                  </h1>
                  <p>
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  </p>
                  <!-- <a class="btn btn-primary" id="about">ABOUT US</a><a class="btn btn-primary" id="register">REGISTRATION</a> -->
                </div>
              </div>
              <!-- <div class="col-xs-12 col-sm-6">
                <div class="slide-img">
                  <div class="banner">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/banner3.png" />
                  </div>
                  <div class="house">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/house3.png" />
                  </div>
                  <div class="pattern">
                    <img src="http://www.simplicity.lt/images/sandbox/vectors/cartoons/isminciukai/slider/pattern3.png" />
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="slide-control">
        <a class="left carousel-control" data-slide="prev" href="" role="button"><span></span><span></span></a><a class="right carousel-control" data-slide="next" href="" role="button"><span></span><span></span></a>
      </div> -->
    </div>
  </header>