<style>
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Gochi+Hand');

body{
  background: #000;
  display: flex;
  justify-content: center;
}

h1{
  font-size: 14em;
  font-family: 'Caveat', cursive;
}

h1 span{
  display: block;
  float: left;
  animation: animate 2.25s linear infinite;
  margin: 0 5px;
  padding: 0;
  position: relative;
  color: #111;
}

h1 span:nth-child(1){
  animation-delay: 0s;
}
h1 span:nth-child(2){
  animation-delay: .25s;
}
h1 span:nth-child(2){
  animation-delay: .5s;
}
h1 span:nth-child(3){
  animation-delay: .75s;
}
h1 span:nth-child(4){
  animation-delay: 1s;
}
h1 span:nth-child(5){
  animation-delay: 1.25s;
}
h1 span:nth-child(6){
  animation-delay: 1.5s;
}
h1 span:nth-child(7){
  animation-delay: 1.75s;
}
h1 span:nth-child(8){
  animation-delay: 2s;
}
h1 span:nth-child(9){
  animation-delay: 2.25s;
}




@keyframes animate {
  0%, 100%{
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00bbff,
      0 0 20px #00bbff,
      0 0 40px #00bbff,
      0 0 80px #00bbff,
      0 0 120px #00bbff,
      0 0 200px #00bbff,
      0 0 300px #00bbff,
      0 0 400px #00bbff;
  }
  5%, 95%{
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}


</style>
<div class="main-content">
    <section class="section">
<br><br>
<br><br>


      <h1>
        <span>C</span>
        <span>S</span>
        <span>W</span>
        <span>T</span>
        <span>/</span>
        <span>R</span>
        <span>O</span>
        <span>T</span>
        <span>C</span>
      </h1>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <h2 class="text-center">
        <span>G</span>
        <span>R</span>
        <span>A</span>
        <span>D</span>
        <span>I</span>
        <span>N</span>
        <span>G</span>
        <span></span>
        <span></span>
        <span>S</span>
        <span>Y</span>
        <span>S</span>
        <span>T</span>
        <span>E</span>
        <span>M</span>
      </h2>
      <br>
      <h3 class="text-left">
          <span>E</span>
          <span>U</span>
          <span>G</span>
          <span>E</span>
          <span>N</span>
          <span>E</span>
          <span class="text-primary">.</span>
          <span>D</span>
          <span class="text-primary">.</span>
          <span>A</span>
          <span>B</span>
          <span>A</span>
          <span>Y</span>
          <span>O</span>
          <span>N</span>
           <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span class="text-primary">.</span>
            <span>D</span>
            <span>A</span>
            <span>N</span>
            <span>T</span>
            <span>E</span>
            <span class="text-primary">.</span>
            <span>E</span>
            <span class="text-primary">.</span>
            <span>Q</span>
            <span>U</span>
            <span>E</span>
            <span>V</span>
            <span>E</span>
            <span>D</span>
            <span>O</span>

        
        </h3>
        <h4 class="text-left">
            <span>C</span>
            <span>O</span>
            <span>O</span>
            <span>R</span>
            <span>D</span>
            <span>I</span>
                        <span>N</span>
                        <span>A</span>
                        <span>T</span>
                        <span>O</span>
                        <span>R</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span><span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        <span class="text-primary">.</span>
                        
                      
                          <span>N</span>
                          <span>S</span>
                          <span>T</span>
                          <span>P</span>
                          <span class="text-primary">.</span>
                          <span>D</span>
                          <span>I</span>
                          <span>R</span>
                          <span>E</span>
                          <span>C</span>
                          <span>T</span>
                          <span>O</span>
                          <span>R</span>
                          <span class="text-primary">.</span>
                          <span>S</span>
                          <span>C</span>
                          <span>S</span>
                          <span>T</span>
        </h4>
    </section>
</div>

<script>
       
        </script>


<div class="modal fade" id="showmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        </button>
      </div>
      <div class="modal-body text-center">    
        <br><br><br>
        <div class="container text-danger">
        <h2>Warning you need to set today's Sales click the button "Set Today's Sales"</h2>
      </div>
      <br><br><br>
  
    </div>
      <div class="modal-footer">
          <button type="button" ng-click="settoday()" class="btn btn-primary">Set Today's Sales</button>
        <button type="button" ng-click="" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        